# Ignore all
*

# Unignore all files with extensions
!*.*

# Unignore all directories
!*/

# Unignore makefiles
!Makefile

# Ignore images and binary files
*.svg
*.png
*.tif
*.tfw
*.zip
*.npy

# Ignore Google protocol buffer parsers
*_pb2.*
*_pb3.*

# Ignore python cache
__pycache__/
